* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    
    color: #000000;
    transition: all .5s ease;
  }
  
  a:hover {
    color: #2eca6a;
    text-decoration: none;
  }

  .title{
    text-align: center;
    padding-right: 80px;
}

 .logo {
    color: #2eca6a;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top:0;
    height: 50px;
  }

  .text-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    text-decoration:none;
  }

.wrap {
    height: 100%;
    width: 100%;
    background-color: rgb(236, 236, 236);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-wrap {
    width: 600px;
    height: 700px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border: 1px solid rgb(236, 236, 236);
    overflow: hidden;
}
.button-wrap {
    width: 270px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
}
.togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: linear-gradient(to right, #2eca6a, #bfe4c4);
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 30px ;
    cursor: pointer;
}
.input-group {
    top: 100px;
    position: absolute;
    width: 300px;
    height: 300px;
    transition: .5s;
    padding-left: 100px;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
    background: transparent;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    background: linear-gradient(to right,  #2eca6a, #bfe4c4);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox {
    margin: 30px 10px 30px 0;
}
span {
    color: #777;
    font-size: 12px;
    bottom:158px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 650px;
}